.biene,
.bienerotate,
.bienerotate-level-2,
.bienerotate-level-3,
.bienerotate-level-4 {
  font-size: 3rem;
  height: 54px;
}

.ios ion-title {
  padding-left: 39px !important;
  padding-right: 39px !important;
  padding-inline-start: 39px !important;
  padding-inline-end: 39px !important;
}

/* Wenn die Biene die Klasse bienerotate bekommt, rotiert sie */

.bienerotate {
  animation: rotation 0.2s;
}

.bienerotate-level-2 {
  animation: rotation 0.15s;
}

.bienerotate-level-3 {
  animation: rotation 0.1s;
}

.bienerotate-level-4 {
  animation: rotation 0.07s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
