.biene,
.bienerotate {
    font-size: 3rem;
    height: 54px;
}


/* Wenn die Biene die Klasse bienerotate bekommt, rotiert sie */

.bienerotate {
    animation: rotation 0.2s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}