name: Test And Build
on: [push]
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Installing
        run: npm ci
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Testing
        run: npm test
  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Building
        run: npm run build
  capacitor-copy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Copy to native apps
        run: npx cap copy
  capacitor-update-Android:
    needs: capacitor-copy
    runs-on: ubuntu-latest
    steps:
      - name: Update Android Dependencies
        run: npx cap update android
